* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background: linear-gradient(90deg, #FF6347, #FF4500);
    color: white;
    text-align: left;
    padding: 20px;
}

header {
    text-align: center;
    margin-bottom: 30px;
}

.logo {
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo img {
    width: 300px;
    height: 80px;
    margin-right: 10px;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 5px 10px;
    border-radius: 5px;
}



header h2 {
    font-size: 30px;
    color: #FFF;
    margin-top: 10px;
}

main {
    max-width: 800px;
    margin: 0 auto;
}

.intro {
    margin-top: 30px;
}

.highlight {
    background-color: #FFFF99;
    color: black;
    text-align: center;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 20px;
}

.highlight h3 {
    font-size: 24px;
    font-weight: bold;
}

.intro p {
    font-size: 16px;
    line-height: 1.6;
    margin-bottom: 20px;
}

footer {
    position: fixed;
    bottom: 20px;
    right: 20px;
}

.audio-button {
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.audio-button img {
    width: 40px;
}
